.git
.gitignore
.env
.dockerignore
Dockerfile
docker-compose.yml
docker-compose*.yml
*.md
node_modules
**/node_modules
checktime-electron
vendor
storage/framework/sessions/*
storage/framework/cache/data/*
storage/framework/views/*
storage/logs/*
storage/app/public/*
public/storage/*
public/hot
bootstrap/cache/packages.php
bootstrap/cache/services.php
bootstrap/cache/config.php
bootstrap/cache/routes.php
bootstrap/cache/routes-v7.php
